body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}

/* Search Bar Area Start */
#text-search,
#select-order {
  font-size: 1.25rem;
  height: 2rem;
}
/* Search Bar Area End */

/* Cart Start */
#cart {
  position: relative;
  width: 75px;
  height: 75px;
}
#cart-amount {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.material-icons {
  font-size: 2.5rem;
}
/* Cart End */

/* Store Main Container Start */
#store-main-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Store Main Container End */

/* Single Equipment Start */
.store-equipment-container {
  background: grey;
  width: 250px;
}
.equipment-image {
  width: 200px;
  height: 200px;
}
/* Single Equipment End */

/* ************************************ */
/* *********** Cart Page  ************* */
/* ************************************ */
#main-container {
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#cart-main-container {
  background: blue;
  width: 60%;
  max-height: 80vh;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart-equipment-container {
  background: grey;
  width: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#cost-container {
  background: grey;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
}
