body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 2rem;
}

/* Search Bar Area Start */
#text-search,
#select-order {
  font-size: 1.25rem;
  height: 2rem;
}
/* Search Bar Area End */
