@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', sans-serif;
  text-transform: capitalize;
}

/* Universal Styles Start */
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.5rem;
}
label {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Universal Styles End */

/* Page Title Start */
.page-title {
  text-align: center;
}
@media (max-width: 1024px) {
  .page-title {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .page-title {
    font-size: 3rem;
  }
}
@media (max-width: 425px) {
  .page-title {
    font-size: 1.5rem;
  }
}
/* Page Title End */

/* Search Bar Area Start */
.search-and-cart-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input,
.order-input {
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-search,
#select-order {
  border: 1px solid black;
  margin-left: 0.5rem;
  font-size: 2rem;
  width: 15rem;
}
/* Cart Start */
#cart {
  position: relative;
  width: 10em;
  height: 10em;
  border: none;
  background: transparent;
  outline: none;
}
#cart-amount {
  position: absolute;
  top: 0.75em;
  right: 1em;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.material-icons {
  cursor: pointer;
  font-size: 6em;
}
/* Cart End */

/* Search Bar Area End */

/* Store Main Container Start */
#homepage {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  width: 12rem;
  height: 6rem;
  margin: 0 auto 2rem auto;
}
#store-main-container {
  border: 1px solid green;
  padding: 2rem;
  width: 90%;
  margin: 0 auto 3rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* Store Main Container End */

/* Single Equipment Start */
.store-equipment-container {
  border: 1px solid black;
  width: 25rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.store-equipment-image-container {
  position: relative;
  width: 90%;
  height: 60%;
}
.equipment-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.store-equipment-information {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.add-to-cart {
  width: 10rem;
  height: 4rem;
  font-size: 1.5rem;
}
/* Single Equipment End */

/* ************************************ */
/* *********** Cart Page  ************* */
/* ************************************ */
#main-container {
  width: 90%;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#cart-main-container {
  margin-top: 1rem;
  width: 60%;
  max-height: 80vh;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart-equipment-container {
  border: 1px solid black;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}
.cart-equipment-image-container {
  position: relative;
  margin-left: 1rem;
  width: 50%;
  height: 80%;
}
.cart-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-equipment-information {
  width: 30%;
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#cost-container {
  margin-top: 1rem;
  border: 1px solid black;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-start;
}
.text-container p,
.math-container p {
  font-size: 2.5rem;
}
.delete-item {
  font-size: 1.25em;
  width: 4em;
  height: 2em;
}
.empty-cart-text {
  text-align: center;
  margin: 1rem auto;
}
/* ************************************ */
/* ********* Media Queries  *********** */
/* ************************************ */

@media (max-width: 1240px) {
  .search-and-cart-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .search-input,
  .order-input {
    order: 2;
    margin-bottom: 1.5rem;
  }
  #cart {
    order: 1;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 550px) {
  .search-and-cart-container {
    border: none;
    margin-right: 0;
    width: 100%;
  }
  .search-input,
  .order-input {
    width: 20rem;
    flex-wrap: wrap;
  }
  .label {
    font-size: 2rem;
  }
  #text-search,
  #select-order {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    width: 10rem;
  }
}
@media (max-width: 425px) {
  #cart {
    width: 8em;
    height: 8em;
  }
  #cart-amount {
    top: 0.5em;
    right: 0.75em;
    width: 32px;
    height: 32px;
    font-size: 1.25em;
  }
  .material-icons {
    font-size: 5em;
  }
}
@media (max-width: 1500px) {
  .store-equipment-container {
    width: 20rem;
  }
}
@media (max-width: 840px) {
  #store-main-container {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 2rem 0 2rem 0;
    justify-content: center;
  }
  .store-equipment-container {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #homepage {
    font-size: 1.5rem;
    width: 8rem;
    height: 4rem;
  }
  .cart-equipment-image-container {
    width: 40%;
  }
  .cart-equipment-information h2,
  .cart-equipment-information h3 {
    font-size: 2rem;
  }
}
@media (max-width: 424px) {
  #homepage {
    font-size: 1rem;
    width: 6rem;
    height: 2rem;
  }
  #main-container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  #main-container {
    width: 100%;
    flex-direction: column;
  }
  #cart-main-container {
    order: 2;
    width: 100%;
  }
  #cost-container {
    align-self: center;
    width: 30rem;
    order: 1;
    margin-bottom: 2rem;
  }
}
@media (max-width: 600px) {
  #cost-container {
    width: 25rem;
  }
  .text-container p,
  .math-container p {
    font-size: 2rem;
  }
}
@media (max-width: 425px) {
  #cost-container {
    border: none;
    width: 100%;
  }
}
@media (max-width: 361px) {
  .text-container p,
  .math-container p {
    font-size: 1.75rem;
  }
}
